.product-tarif{
    font-size: 2em;
}
.product-tarif .x-innerhtml{
  text-align: center;
  margin-top: 28px;
  color: #d9534f !important;
}
.product-barre{
  box-shadow: 0 0 10px #666;
  padding-top: 5px;
}

