.block-search{
  background-color: #f4f4f4;
  box-shadow: 0 0 10px #888888;
}
.block-search .ypm-button{
    border-radius: 0;
}
.block-search input {
  margin: 0;
  padding: 20px 15px;
  font-size: 14px;
  background-color: transparent;
  color: #666 !important;
  -webkit-text-fill-color: #666 !important;
}